body {
  @apply text-white;
}

h1 {
  @apply text-4xl font-bold leading-tight;
}

h2 {
  @apply text-3xl font-bold leading-tight;
}

h3 {
  @apply text-2xl font-bold leading-tight;
}

h4 {
  @apply font-bold leading-tight;
}

/* p {
  @apply mb-4;
} */

a {
  @apply font-semibold text-teal-400 hover:underline;
}

header {
  a {
    @apply font-semibold text-gray-400 hover:text-white hover:no-underline;
  }
}

input:not([type='file']) {
  @apply text-gray-800 px-2 py-1 block w-64;
}

textarea {
  @apply text-gray-800 px-2 py-1 block w-full;
}

input[type='file'] {
  @apply mt-2;
}

label {
  @apply mt-6 mb-1 relative inline-block;
  &.required::after {
    content: '*';
    position: absolute;
    right: -0.6em;
  }
}

.btn {
  @apply px-4 py-2 text-gray-900 uppercase font-bold inline-block;
}

.btn-sm {
  @apply px-2 text-gray-900 uppercase font-bold inline-block;
}

a.btn,
a.btn-sm {
  @apply no-underline;
}

.btn-primary {
  @apply bg-purple-500 hover:bg-purple-400;
}

.btn-secondary {
  @apply bg-teal-500 hover:bg-teal-400;
}

.btn-danger {
  @apply bg-red-600 hover:bg-red-500;
}

.helptext {
  @apply block text-xs -mt-4;
}
