{% extends "base.html" %}

{% block main %}
<h1 class="mb-6">{{ object.name }}</h1>
<div class="bg-gray-800 p-4 border-2 border-gray-800 mt-4">
  <div class="flex items-center mb-4">
    <img class="w-8 h-8 object-cover rounded-full mr-2" src="{{ object.author.profile.image.url }}" alt="{{ object.author.username }}">
    <div class="w-full text-xs">
      Shared by <a href="{% url 'user-packs' object.author.username %}">{{ object.author }}</a> on <time>{{ object.date_posted|date:"F d, Y" }}</time>
    </div>
  </div>
  <div class="md:grid grid-cols-sound gap-4 items-center mb-6">
    <p class="font-mono truncate mb-2 md:mb-0">{{ object.filename }}</p>
    <audio src="{{ object.audio_file.url }}" controls class="w-full"></audio>
    <p class="hidden md:block">{{ keys|get_item:object.key }}{{ object.scale }}</p>
    <p class="hidden md:block">{{ object.tempo }}</p>
  </div>
  {% if object.author == user %}
    <div class="mt-4">
      <a class="btn btn-primary" href="{% url 'sound-update' object.id %}">Update</a>
      <a class="btn btn-danger ml-4" href="{% url 'sound-delete' object.id %}">Delete</a>
    </div>
  {% endif %}

</div>
{% endblock main %}
